.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.buttons {
  display: flex;
  margin-top: 5%;
  justify-content: flex-start;
  margin-bottom: 5%;

  align-items: flex-start;
}
.para {
  display: flex;
  color: "white";
  flex-direction: row;
  margin-top: 12%;
  margin-bottom: 3%;
  border: red;
}
.text {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.alltext {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 2.5%;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
